/* Name: Twentytwelve Child
   Description: Child of twentytwelve
   Template: twentytwelve
   */
   @import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Rubik');

   .site-header h1 {
   	text-align:center;
   }
   .site-header h2 {
   	text-align:center;
   }

   .wrapper {
   	background-color: #f9fbff;
   }

   body {
   	background-color: #352c52;
   }

   p {
   	font-family: 'Libre Franklin', sans-serif;
   }

   h1 {
   	font-family: 'Rubik', sans-serif;
   }

   a:hover {
  	color: red;
   	opacity:.5;
   }

   #secondary {

   }