/* Name: Twentytwelve Child
   Description: Child of twentytwelve
   Template: twentytwelve
   */
   @import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Rubik');

   .site-header h1 {
   	font-size: 36px;
   	text-align:center;
   }
   .site-header h2 {
   	text-align:center;
   }

   .nav-menu {
   	background-color: #212121;
   }

   .main-navigation ul {
   	text-align:center;
   }

   .main-navigation li a {
   	color: #ffffff;
   }

   .main-navigation li a:hover {
   	color: #d6d6d6;
   }

   .wrapper {
   	background-color: #f9fbff;
   }

   .entry-header .entry-title {
   	text-align:center;
   }

   body {
   	background-color: #352c52;
   }

   p {
   	font-family: 'Libre Franklin', sans-serif;
   }

   h1 {
   	font-family: 'Rubik', sans-serif;
   }

   a:hover {
  	color: red;
   	opacity:.5;
   }

   #secondary {

   }